body{
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    /* optional, works only for variable fonts */
    font-weight: 400;
    /* pick an actual number between 200 and 800 */
    font-style: normal;

    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container{
    flex: 1;
}

.navbar{
    height: 5rem;
    background-color: white;
    margin-bottom: 1.5rem;
}

.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}

.nav-link{
    color: #222222 !important;
}


/* footer */
.footer-info{
    display: flex;
    background-color: #ebebeb;
    height: 8rem;
    flex-wrap: wrap;
    justify-items: center;
    align-items: center;
    text-align: center;
}

.footer-info-company, .footer-info-socials, .footer-info-links{
    width: 100%;
}


.footer-info-socials i{
    margin-right: 1rem;
    font-size: 1.3rem;
}

.footer-info-links a{
    text-decoration: none;
    color: #222222;
}

.footer-info-links a:hover{
    text-decoration: underline;
}


/* cards */
.listing-card{
    border: none;
    margin-bottom: 2rem;
}

.card-img-top{
    border-radius: 1rem;
    width: 100%;
    object-fit: cover;
}

.card-body{
    padding: 0;

}

.card-text p{
    font-weight: 400;
}

.listing-link{
    text-decoration: none;
}

/* overlay effect */
.card-img-overlay{
    opacity: 0;
}

.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

/* new,edit page */
.add-btn{
    background-color: #fe424d;
    border: none;
}

.edit-btn{
    background-color: #fe424d;
    border: none;
}


/* show page */
.show-img{
    height: 30vh;
}

.btns{
    display: flex;
    margin-bottom: 2rem;
}

.show-card{
    padding-left: 0;
    padding-right: 0;
}